<strong>Bem vindo, {{ student }}</strong>
<p>Sua matrícula foi efetuada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano:</strong>{{ plan }}<br />
  <strong>Valido até:</strong>{{ end_date }}<br />
  <strong>Preço:</strong>{{ price }}<br />
</p>
